html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,button,select{margin:0;padding:0;outline:0;font-size:100%;list-style-type:none;font-size:17px;line-height:1.4;font-family:'PT Sans Narrow',sans-serif!important}
img{margin:0;padding:0;border:0}
body{color:#444;line-height:20px;background:#1D211F}
.drarasff{width:143px;height:162px;float:left;margin:10px 25px 15px 0;overflow:hidden;position:relative;border-radius:.25rem;box-shadow:0 .0625rem .25rem rgba(71,44,6,0.2);padding:20px;background-color:#FFF;text-align:center}
.drarasff:hover{box-shadow:0 .0625rem .25rem rgba(121,6,0,0.42)}
.drarasff img{width:183px;margin-left:-20px;margin-right:-20px;height:125px;margin-top:-20px}
.miiiklld img{border-radius:.25rem;box-shadow:0 .0625rem .25rem rgba(71,44,6,0.2)}
.drarasff a{text-decoration:none;color:#55B7C7!important}
.drarasff a:hover{text-decoration:none}
.biiuyiu{margin:0 auto;width:980px}
.ratatbbbb{display:block;margin-top:2px;color:#5d6d6f;line-height:1.5}
.drarasff a h3:hover{text-decoration:underline}
.drarasff{text-decoration:none!important}
.mass_comments_action{display:none}
.drarasff:hover .starraaa{color:#E07516}
.traattgg{padding:5px 15px 7px;cursor:pointer;border:0 solid #933;color:#FFF;background:#D03D26;font-weight:700;border-radius:.25rem;box-shadow:0 .0625rem .25rem rgba(71,44,6,0.2)}
.traattgg:hover,.ui-dialog .ui-dialog-buttonpane button:hover,.pookkkhhh a:hover{color:#FFF!important;background:#E07516}
.traattgg:active,.ui-dialog .ui-dialog-buttonpane button:active,.pookkkhhh a:active{-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.24);box-shadow:inset 0 2px 4px rgba(0,0,0,0.24)}
.dpppaoz{clear:both;padding:15px 0 10px;margin-right:30px}
.dpppaoz a:link,.dpppaoz a:visited,.kno{background:#D03D26;width:10px;list-style:none;margin:0 3px 0 0;height:30px;width:30px;line-height:30px;display:inline-block;text-align:center;color:#FFF;text-decoration:none;font-weight:700;-moz-transition:color .15s linear;-webkit-transition:color .15s linear;-o-transition:color .15s linear;transition:color .15s linear;text-decoration:none;border-radius:.25rem;box-shadow:0 .0625rem .25rem rgba(71,44,6,0.2)}
.pooiiimm{color:#9A927E;float:right;padding-top:2px}
.sasasa{font-weight:700;margin-bottom:-5px;margin-top:3px;display:block}
.dpppaoz a:hover,.kno:hover{background:#E07516}
.dpppaoz a:active,.kno:active{-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);box-shadow:inset 0 2px 4px rgba(0,0,0,.24)}
.dpppaoz span{list-style:none;margin:0 3px 0 0;cursor:default;text-align:center;text-decoration:none;font-weight:700;-moz-transition:color .15s linear;-webkit-transition:color .15s linear;-o-transition:color .15s linear;transition:color .15s linear;height:30px;width:30px;line-height:30px;display:inline-block;color:#c5b899;border-radius:.25rem;box-shadow:0 .0625rem .25rem rgba(71,44,6,0.2)}
.lojjjaas{border-top:1px solid #D8D8D8;padding-top:20px;margin-top:20px}
.jjytiiii{padding-top:10px;color:#5d6d6f;overflow:hidden;padding-bottom:25px}
.jjytiiii a{color:#5d6d6f}
.jjytiiii a:hover{color:#E23939}
#content{float:left;margin-left:-220px;width:100%;height:500px;height:1px}
a {color: #444;}
 .niooollkk a { color:#FFF;}
.opplklll{margin:0 auto;width:980px;position:relative;z-index:44;overflow:visible;float:left;padding-top:20px;    margin-top: 90px;}
.drakkaxx img{width:100%;border-radius:.25rem;box-shadow:0 .0625rem .25rem rgba(71,44,6,0.2)}
.hiooppaa{width:160px;padding-left:0;padding-top:15px;float:right;font-size:14px;padding-top:0;}
.hiooppaa a{color:#000}
.mnsiaaz a{text-transform:none!important;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;letter-spacing:normal;font-size:15px;text-decoration:underline}
.mnsiaaz span{margin-bottom:4px;display:block;margin-top:15px;font-size:13px}
.mnsiaaz a:before{content:'';height:9px;width:9px;border-radius:50px;display:inline-block;margin-right:5px;box-shadow:inset 0 0 0 1px #616A77}
.hiooppaa a:hover{text-decoration:underline}
.hyhyssss{overflow: hidden;
    padding-bottom: 20px;
    background-repeat: repeat-y;
    width: 625px;
    float: right;
    margin-right: -25px;}
.padding_border_comment img{width:50px;height:50px;float:left;margin:13px 15px 6px 0}
.ffafaaa{float:left;padding-top:11px}
.drakkaxx a{text-transform: none;
    letter-spacing: normal;
    color: #444;
    font-weight: 700;
    padding-top: 2px;
    display: block;
	}


.aasss {    float: left;
    width: 135px;
    margin-right: 20px;
   }

.aasss img {
	height: 80px; margin-bottom: 10px;}


.drakkaxx a:hover{text-decoration:underline}
.iuiuiuunn{padding-bottom:15px;padding-top:8px;margin-bottom:-1px;background:url("ssuua.png") bottom repeat-x;    margin-right: 25px;}
.lililiaaa{padding-top:10px;padding-left:70px;padding-bottom:5px}
.yyyuuuu img{width:50px;height:50px;float:left;margin:15px 20px 6px 0;border-radius:.25rem;box-shadow:0 .0625rem .25rem rgba(71,44,6,0.2)}
.jooppla{background-color:#FFF;border-radius:.25rem;box-shadow:0 .0625rem .25rem rgba(71,44,6,0.2);padding:30px;overflow:hidden;margin-bottom:20px;margin-top:40px;    padding-bottom: 15px;    margin-right: 25px;}
h1{font-style:inherit;line-height:28px;margin-bottom:25px;font-size:32px;color:#332f2e;font-weight:700;margin-top:20px}
.jooppla img{padding-right:25px;padding-bottom:10px;float:left;    padding-top: 5px;}
.jooppla h1{  
    margin-top: -5px;
    font-size: 23px;
    margin-bottom: 12px;}
.starraaa{color:#d03d26;display:block;padding-top:7px;bottom:0;padding-bottom:7px;z-index:999;font-weight:700;height:39px;margin-left:-5px;margin-right:-5px;overflow:hidden}
.himmmmzad{background:url("qqaaa.png") repeat-x scroll left top transparent;font-family:'ZhiznRegular';text-align:center}
.oiuuazzaf{background:url("iiooo.png");padding:10px 20px;font-weight:700}
.yield{font-size:15px}

#question_answer {width: 20px;
    margin-top: 20px;}

#dle-question {    margin-top: 27px;
    display: block;
    float: left;
    margin-right: 5px;
      color: #968d75;
   }
   .kioooaa {
      text-decoration: underline; 
    padding-top: 13px;
    cursor: pointer;
    color: #5d6d6f;
}

.penkaka img {margin-top: 5px;
    display: block;
    float: right;
    margin-left: 15px;    opacity: 0.4;}
.kioooaa:hover {color:#FFF;}
   
.guiiiiyyy{padding-bottom:20px;display:block}
i{color:#959595;font-size:12px}
.ninnnazzz a{padding-top:2px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;position:relative;display:block;text-decoration:underline}
a:hover{color:#E07516}
.styysyyy{right:15px;top:6px;position:absolute;width:16px;height:16px;border:none;background:url("poiskk.png") 0 0 no-repeat;cursor:pointer;opacity:.3}
.speedbar a{text-decoration:underline}
.styysyyy:hover{opacity:1}
.drtyuuuu{position:relative}
input{color:#383838;border:solid 1px #DCD9CC;width:220px;padding:5px 10px 5px 7px;font-size:15px;border-radius:.25rem;box-shadow:0 .0625rem .25rem rgba(71,44,6,0.2);font-size:17px;line-height:1.4;font-family:'PT Sans Narrow',sans-serif!important}
p{padding-bottom:15px}
.berrors{margin-bottom:20px;margin-top:45px;background-color:#FFF;border-radius:.25rem;box-shadow:0 .0625rem .25rem rgba(71,44,6,0.2);padding:30px;overflow:hidden;position:relative; margin-right:25px;}
.berrors b{font-size:18px;color:#B63F3F;margin-top:-5px;font-weight:700;display:block;padding-bottom:9px}
.bb{font-weight:700}
#loading-layer{display:none;font-size:11px;background:#2e83d7;padding:10px;text-align:center;color:#fff}
.rating{width:85px;height:17px;font-size:.9em;float:left;padding-top:2px;padding-right:6px;overflow:hidden}
.unit-rating{list-style:none;margin:0;padding:0;width:85px;height:17px;position:relative;background:url("rating.png") repeat-x}
.unit-rating li{text-indent:-90000px;padding:0;margin:0;float:left}
.unit-rating li a{display:block;width:17px;height:17px;text-decoration:none;text-indent:-9000px;z-index:17;position:absolute;padding:0}
.unit-rating li a:hover{background:url("rating.png") 0 -17px;z-index:2;left:0}
.unit-rating a.r1-unit{left:0}
.unit-rating a.r1-unit:hover{width:17px}
.unit-rating a.r2-unit{left:17px}
.unit-rating a.r2-unit:hover{width:34px}
.unit-rating a.r3-unit{left:34px}
.unit-rating a.r3-unit:hover{width:51px}
.unit-rating a.r4-unit{left:51px}
.unit-rating a.r4-unit:hover{width:68px}
.unit-rating a.r5-unit{left:68px}
.unit-rating a.r5-unit:hover{width:85px}
.unit-rating li.current-rating{background:url("rating.png") 0 -34px;position:absolute;height:17px;display:block;text-indent:-9000px;z-index:1}
select,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{display:inline-block;padding:6px 9px 7px;vertical-align:middle;border:1px solid #D8D8D8;    border: 0 solid #eeeadf;
    border-left: 1px solid #e0d7cb;padding-left: 15px;}
textarea{   display:inline-block; line-height:18px;vertical-align:middle;border:0 solid #eeeadf;border-left:1px solid #e0d7cb;background:#F6F5EF;width:567px;height:70px;color:#000;background-color:#FFF;margin-top:20px;border-radius:.25rem;box-shadow:0 .0625rem .25rem rgba(71,44,6,0.2);font-size:17px;line-height:1.4;font-family:'PT Sans Narrow',sans-serif!important; padding: 15px;}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{outline:0;color:#000}
.jjytiiii .social-likes__widget{color:#A69388;border:1px solid #857871;background-color:#332F2E}
#dle-captcha{padding-top:18px;padding-bottom:10px;display:block}
#dle-captcha img{    border: 1px solid #d6cebe;
    border-radius: .25rem;
    box-shadow: 0 0.0625rem 0.25rem rgba(71,44,6,0.2);
    border-left: 1px solid #d6cebe;}
	#dle-captcha img:hover {opacity:0.8;}
.syuuuujmm{background-image:url("urn:scrapbook:download:error:http://bufet.net/shapes.svg");width:100%;background-position:280px -29px;opacity:.6;height:12px;margin-top:20px;margin-bottom:10px;background-repeat:repeat-y,repeat-y}
#text{margin-top:20px;margin-bottom:20px;overflow:hidden}
::-webkit-input-placeholder{color:#A6A6A6}
:-moz-placeholder{color:#A6A6A6}
::-moz-placeholder{color:#A6A6A6}
:-ms-input-placeholder{color:#A6A6A6}
.name{padding-right:15px}


.summary .dlevideoplayer {    margin-left: -30px;
    width: 600px !important;}
 
.dlevideoplayer {display:block;}

.pookkkhhh a{text-decoration:none;padding:4px 9px 7px;cursor:pointer;color:#FFF;margin-right:2px;background-color:#5d6d6f;background-color:#55b7c7}
.pookkkhhh{margin-top:20px;margin-bottom:10px;float:left}
.nnimmazz a{font-size:15px}
.nnimmazz span{margin-bottom:4px;display:block;margin-top:15px;font-size:13px}
#text b{display:block;margin-top:5px}
nav{display:block;float:none;clear:both;border-bottom:3px solid #000;position:relative}
.yyoooaa{display:block;margin-bottom:5px}
.aasss, .aasss2 {display:block;}
.aasss a b, .aasss2 a b {display:block;font-size:13px;padding-top:10px;color:#332F2E}


.gioppll{display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;float:left;text-align:center;padding:10px 0 4px;vertical-align:bottom;margin-top:5px;font-size:20px;font-weight:700; padding-top: 0px;}
.rtuuuapp{margin-top:0;color:#96938B;padding-bottom:8px;padding-right:10px;background:url("ssuua.png") bottom repeat-x;width:150px;text-align:left}
.giopplls{overflow:hidden;vertical-align:bottom;color:#3f3f3d;font-size:25px;display:block;padding-bottom:6px;margin-bottom:9px;font-style:normal;letter-spacing:.033em;margin-top:2px;line-height:25px!important}
.travolhh{margin-bottom:5px}
.fghnnnn{position:relative;color:#444;font-weight:700;padding:8px 0;overflow:hidden;font-size:20px;background:url("ssuua.png") bottom repeat-x;padding-bottom:12px;margin-bottom:5px;margin-top:15px; margin-right:25px; margin-right:25px;}
.aasss:hover b, .aasss2:hover b {color:#55B7C7}
.yuuppsss{position:relative}
.yuuppsss	img{margin-left:-30px;width:600px;margin-bottom:10px}
.ui-helper-clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden}
.ui-helper-clearfix{display:inline-block}
* html .ui-helper-clearfix{height:1%}
.ui-helper-clearfix{display:block}
.ui-icon{background-repeat:no-repeat;display:block;overflow:hidden;text-indent:-99999px}
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button,.ui-widget{font-size:11px;font-family:Verdana}
.ui-widget-content{background:#fff 50% bottom repeat-x;color:#222}
.ui-widget-header{background-color:#333;color:#FFF}
.ui-widget-header a{color:#fff}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#2e6e9e;text-decoration:none}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus{background:#eaeaea url("ui-bg_glass_75.png") 50% 50% repeat-x;border:1px solid #a7a7a7;color:#4e4e4e;font-weight:700}
.ui-state-hover a,.ui-state-hover a:hover{color:#1d5987;text-decoration:none}
.ui-state-active,.ui-widget-content .ui-state-active{background:#d0e5f5 50% 50% repeat-x;border:1px solid #a7a7a7;color:#e17009;font-weight:700}
.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#e17009;text-decoration:none}
.ui-state-error{background:#fef1ec 50% 50% repeat-x;border:1px solid #dedede;color:#cd0a0a}
.ui-widget-header .ui-icon{background-image:url("ui-icons.png")}
.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{background-image:url("ui-icons_h.png")}
.ui-icon-close{background-position:-80px -128px}
.ui-icon-closethick{background-position:-96px -128px}
input.ui-button{padding:.4em 1em}
.ui-button-set{margin-right:7px}
.ui-button-set .ui-button{margin-left:0;margin-right:-.3em}
button.ui-button::-moz-focus-inner{border:0;padding:0}
.ui-dialog{overflow:hidden;position:absolute;width:300px;-moz-box-shadow:0 12px 25px rgba(0,0,0,0.7);-webkit-box-shadow:0 12px 25px rgba(0,0,0,0.7);box-shadow:0 12px 25px rgba(0,0,0,0.7)}
.ui-dialog .ui-dialog-titlebar{padding:5px 25px 4px;position:relative}
.ui-dialog .ui-dialog-title{float:left;margin:.1em 16px .2em 0;color:#FFF;font-weight:700}
.ui-dialog .ui-dialog-titlebar-close{height:18px;margin:-10px 2px 0 0;padding:1px;position:absolute;right:10px;top:50%;width:19px;overflow:hidden}
.ui-dialog .ui-dialog-titlebar-close span{display:block;margin:1px}
.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus{padding:0}
.ui-dialog .ui-dialog-content{background:none;border:0;overflow:hidden;padding:25px 24px 0;position:relative;zoom:1}
.ui-dialog .ui-dialog-buttonpane{background-image:none;border-width:0;text-align:left;padding:0 20px 20px 0;margin-top:20px}
.ui-dialog .ui-dialog-buttonpane button{padding:5px 15px 7px;cursor:pointer;border:0 solid #933;color:#FFF;background:#D03D26;font-weight:700;float:right;border-radius:.25rem;box-shadow:0 .0625rem .25rem rgba(71,44,6,0.2)}
.ui-dialog .ui-resizable-se{bottom:3px;height:14px;right:3px;width:14px}
.ui-draggable .ui-dialog-titlebar{cursor:move}
.highslide-wrapper,.highslide-outline{background:#FFF}
.highslide-image{border:2px solid #FFF}
.highslide-active-anchor{visibility:hidden}
.highslide-active-anchor img{visibility:hidden}
.highslide-dimming{background-color:#000}
.highslide-html{background-color:#fff}
.highslide-loading{display:block;color:#fff;font-size:9px;font-weight:700;text-decoration:none;padding:3px;border:1px solid #fff;background-color:#000}
a.highslide-full-expand{background:url("fullexpand.gif") no-repeat;display:block;margin:0 10px 10px 0;width:34px;height:34px}
.highslide-display-block{display:block}
.highslide-display-none{display:none}
.highslide-caption{display:none;padding:5px;background:#fff}
.highslide-controls{width:195px;height:40px;background:url("controlbar-black-border.gif") no-repeat 0 -90px;margin-right:15px;margin-bottom:10px;margin-top:10px}
.highslide-controls ul{position:relative;left:15px;height:40px;list-style:none;margin:0;padding:0;background:url("controlbar-black-border.gif") no-repeat 100% -90px}
.highslide-controls li{float:left;padding:5px 0}
.highslide-controls a{background:url("controlbar-black-border.gif");display:block;float:left;height:30px;width:30px;outline:none}
.highslide-controls a.disabled{cursor:default}
.highslide-controls a span{display:none}
.highslide-controls .highslide-previous a{background-position:0 0}
.highslide-controls .highslide-previous a:hover{background-position:0 -30px}
.highslide-controls .highslide-previous a.disabled{background-position:0 -60px!important}
.highslide-controls .highslide-play a{background-position:-30px 0}
.highslide-controls .highslide-play a:hover{background-position:-30px -30px}
.highslide-controls .highslide-play a.disabled{background-position:-30px -60px!important}
.highslide-controls .highslide-pause a{background-position:-60px 0}
.highslide-controls .highslide-pause a:hover{background-position:-60px -30px}
.highslide-controls .highslide-next a{background-position:-90px 0}
.highslide-controls .highslide-next a:hover{background-position:-90px -30px}
.highslide-controls .highslide-next a.disabled{background-position:-90px -60px!important}
.highslide-controls .highslide-move a{background-position:-120px 0}
.highslide-controls .highslide-move a:hover{background-position:-120px -30px}
.highslide-controls .highslide-full-expand a{background-position:-150px 0}
.highslide-controls .highslide-full-expand a:hover{background-position:-150px -30px}
.highslide-controls .highslide-full-expand a.disabled{background-position:-150px -60px!important}
.highslide-controls .highslide-close a{background-position:-180px 0}
.highslide-controls .highslide-close a:hover{background-position:-180px -30px}
.penkaka{float:right;text-align:right;padding-top:13px;color:#5d6d6f}
.kiloa{color:#000!important;border-bottom:2px solid #000!important}
.qwqwqw{padding-bottom:5px;overflow:hidden;text-align:center;margin-bottom:-10px;    margin-right: 25px;}

.social-likes li{opacity:.9!important}
.social-likes li:hover{opacity:1!important}
.social-likes__widget:hover .social-likes__button{color:#FFF!important}
.social-likes__widget:hover .social-likes__counter{color:#FFF!important}
.social-likes,.social-likes__widget{display:inline-block;padding:0;vertical-align:middle!important;word-spacing:0!important;text-indent:0!important;list-style:none!important}
.social-likes{opacity:0}
.social-likes_visible{opacity:1;-webkit-transition:opacity .1s ease-in;transition:opacity .1s ease-in}
.social-likes>*{display:inline-block;visibility:hidden}
.social-likes_vertical>*{display:block}
.social-likes_visible .social-likes__widget{visibility:inherit}
.social-likes__widget{display:inline-block;position:relative;white-space:nowrap}
.social-likes__widget:before,.social-likes__widget:after{display:none!important}
.social-likes_vertical .social-likes__widget{display:block;float:left;clear:left}
.social-likes__button,.social-likes__icon,.social-likes__counter{text-decoration:none;text-rendering:optimizeLegibility}
.social-likes__button,.social-likes__counter{display:inline-block;margin:0;outline:0}
.social-likes__button{position:relative;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.social-likes__button:before{content:"";display:inline-block}
.social-likes__icon{position:absolute;top:0;left:0}
.social-likes__counter{display:none;position:relative}
.social-likes_ready .social-likes__counter,.social-likes__counter_single{      display: inline-block;
    color: #9a865f!important;
    font-weight: bold;
    font-size: 15px;}
.social-likes_ready .social-likes__counter_empty{display:none}
.social-likes_vertical .social-likes__widget{display:block}
.social-likes_notext .social-likes__button{padding-left:0}
.social-likes_single-w{position:relative;display:inline-block}
.social-likes_single{position:absolute;text-align:left;z-index:99999;visibility:hidden;opacity:0;-webkit-transition:visibility 0 .3s,opacity .3s ease-out;transition:visibility 0 .3s,opacity .3s ease-out;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.social-likes_single.social-likes_opened{visibility:visible;opacity:1;-webkit-transition:opacity .3s ease-out;transition:opacity .3s ease-out}
.social-likes_single.social-likes_opened .social-likes__single-container{visibility:visible}
.social-likes__button_single{position:relative}
.social-likes{min-height:36px;margin:-6px}
.social-likes,.social-likes_single-w{line-height:19px}
.social-likes__widget{    margin: 6px; 
    line-height: 19px; 
    border-radius: 1.25rem;
    padding: 4px 10px;
    background-color: #FFF;
    box-shadow: 0 0.0625rem 0.25rem rgba(71,44,6,0.2);
    text-decoration: none;
    margin-right: 3px;
    margin-left: 3px;}
.social-likes__widget:hover,.social-likes__widget:active,.social-likes__widget:focus{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#fff;cursor:pointer}
.social-likes__button,.social-likes__counter{vertical-align:middle;font-family:"Helvetica Neue",Arial,sans-serif;font-size:13px;line-height:20px;cursor:inherit}
.social-likes__button{    padding: 1px 6px 1px 21px;
    font-weight: 400;
    border-right: 0;
    font-size: 15px;
    color: #926f1c;}
.social-likes__icon{width:20px;height:18px;margin-top:1px;background-repeat:no-repeat;background-position:50% 50%;margin-top:1px;padding-top:1px;padding-left:1px}
.social-likes__counter{    padding-right: 5px; }
	.social-likes__counter:before {content: "+";}
	
	
.social-likes__widget:hover>.social-likes__counter,.social-likes__widget:focus>.social-likes__counter,.social-likes__widget:active>.social-likes__counter,.social-likes__widget_active>.social-likes__counter{position:relative;border-left-color:transparent}
.social-likes__widget:hover>.social-likes__counter:before,.social-likes__widget:focus>.social-likes__counter:before,.social-likes__widget:active>.social-likes__counter:before,.social-likes__widget_active>.social-likes__counter:before{    
   
    
    color: #FFF;}

.social-likes_vertical{margin:-6px}
.social-likes_vertical .social-likes__widget{margin:6px}
.social-likes_notext{margin:-3px}
.social-likes_notext .social-likes__widget{margin:3px}
.social-likes_notext .social-likes__button{width:18px}
.social-likes_notext .social-likes__icon{width:100%;background-position:center center}
.social-likes__widget_single{margin:0}
.social-likes_single{margin:-12px 0 0;padding:4px 0;background:#fff;border:1px solid #6F6F6F;border-radius:3px}
.social-likes__single-container{width:100%;display:table}
.social-likes_single .social-likes__widget{float:none;display:table-row;margin:0;border:0;border-radius:0;background:0 0}
.social-likes_single .social-likes__button{display:table-cell;padding:2px 6px 2px 24px}
.social-likes_single .social-likes__icon{margin-left:4px;margin-top:2px}
.social-likes_single .social-likes__counter{display:table-cell;padding:2px 8px 2px 4px;border-left:0;text-align:right}
.social-likes_single .social-likes__widget:hover>.social-likes__counter:before,.social-likes_single .social-likes__widget:focus>.social-likes__counter:before,.social-likes_single .social-likes__widget:active>.social-likes__counter:before{display:none}
.social-likes__icon_single{background-image:url("b0c94b23cf2efb23bb6821ce09ba69237be15640.png")}
.social-likes__widget_single:hover,.social-likes__widget_single:active,.social-likes__widget_single:focus,.social-likes__widget_active{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background:#3673f4;border-color:#3673f4;color:#fff}
.social-likes__widget_single:hover .social-likes__icon_single,.social-likes__widget_single:active .social-likes__icon_single,.social-likes__widget_single:focus .social-likes__icon_single,.social-likes__widget_active .social-likes__icon_single{background-image:url("c755c55a6ce84b90b262de2925471edbb595eb32.png")}
.social-likes__icon_facebook{background-image:url("1.png")}
.social-likes__widget_facebook:hover,.social-likes__widget_facebook:active,.social-likes__widget_facebook:focus{background:#425497;border-color:#425497}
.social-likes__widget_facebook:hover .social-likes__icon_facebook,.social-likes__widget_facebook:active .social-likes__icon_facebook,.social-likes__widget_facebook:focus .social-likes__icon_facebook{background-image:url("1_1.png")}
.social-likes__icon_twitter{background-image:url("2.png")}
.social-likes__widget_twitter:hover,.social-likes__widget_twitter:active,.social-likes__widget_twitter:focus{background:#00b7ec;border-color:#00b7ec}
.social-likes__widget_twitter:hover .social-likes__icon_twitter,.social-likes__widget_twitter:active .social-likes__icon_twitter,.social-likes__widget_twitter:focus .social-likes__icon_twitter{background-image:url("2_2.png")}
.social-likes__icon_plusone{background-image:url("6.png")}
.social-likes__widget_plusone:hover,.social-likes__widget_plusone:active,.social-likes__widget_plusone:focus{background:#dd4241;border-color:#dd4241}
.social-likes__widget_plusone:hover .social-likes__icon_plusone,.social-likes__widget_plusone:active .social-likes__icon_plusone,.social-likes__widget_plusone:focus .social-likes__icon_plusone{background-image:url("6_6.png")}
.social-likes__icon_mailru{background-image:url("3.png")}
.social-likes__widget_mailru:hover,.social-likes__widget_mailru:active,.social-likes__widget_mailru:focus{background:#255896;border-color:#255896;color:#ffcd00}
.social-likes__widget_mailru:hover .social-likes__icon_mailru,.social-likes__widget_mailru:active .social-likes__icon_mailru,.social-likes__widget_mailru:focus .social-likes__icon_mailru{background-image:url("3_3.png")}
.social-likes__icon_vkontakte{background-image:url("4.png")}
.social-likes__widget_vkontakte:hover,.social-likes__widget_vkontakte:active,.social-likes__widget_vkontakte:focus{background:#526e8f;border-color:#526e8f}
.social-likes__widget_vkontakte:hover .social-likes__icon_vkontakte,.social-likes__widget_vkontakte:active .social-likes__icon_vkontakte,.social-likes__widget_vkontakte:focus .social-likes__icon_vkontakte{background-image:url("4_4.png")}
.social-likes__icon_odnoklassniki{background-image:url("5.png");background-position:6px 3px}
.social-likes__widget_odnoklassniki:hover,.social-likes__widget_odnoklassniki:active,.social-likes__widget_odnoklassniki:focus{background:#f6903b;border-color:#f6903b}
.social-likes__widget_odnoklassniki:hover .social-likes__icon_odnoklassniki,.social-likes__widget_odnoklassniki:active .social-likes__icon_odnoklassniki,.social-likes__widget_odnoklassniki:focus .social-likes__icon_odnoklassniki{background-image:url("5_5.png")}


.popular a{float:left;margin:0 19px 0 0;font-family:'PT Sans Narrow',sans-serif;color:#535353;text-decoration:none;position:relative;font-size:16px}
.popular{font-size:16px;padding:2px 0 4px;line-height:28px;font-family:'PT Sans Narrow',sans-serif;border-bottom:1px solid #1d211f;overflow:hidden}
.popular a:hover:after{content:'';display:block;position:absolute;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #000;left:50%;margin-left:-7px;bottom:-5px}
.popular a.active:after{content:'';display:block;position:absolute;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #000;left:50%;margin-left:-7px;bottom:-5px}
h2{padding-bottom:10px;font-size:24px}

.hiiopzzx{font-weight:700;display:block;padding-bottom:10px;margin-top:20px;font-size:20px;background:url("ssuua.png") bottom repeat-x;margin-bottom:20px; margin-right:25px;}
.niooollkk{color:#fff;font-size:20px;padding:30px;margin-top:19px;margin-bottom:25px;margin-right:-30px;width:540px;border-radius:.25rem;box-shadow:0 .0625rem .25rem rgba(71,44,6,0.2);background-color:#1d211f;background:url("menu_bg.png") center center,url("fsdfds.jpg")}
.niooollkk p{display:block;background:url("qqquuu.png") left bottom repeat-x;padding-right:200px;position:relative;margin-top:15px;margin-bottom:3px;padding-right:140px;padding-bottom:0}
.niooollkk p .name{background:url("aaaqqq.png");padding-right:7px;line-height:23px;padding-bottom:4px}
.niooollkk p .amount{position:absolute;right:0;bottom:0;padding-left:7px;background:url("aaaqqq.png")}
.niooollkk .variants{font-size:11px;color:#a57dcb;position:relative;top:-2px;white-space:nowrap}
@font-face{font-family:'ZhiznRegular';src:url("zhizn-webfont.eot");src:local(O),url("zhizn-webfont.woff") format("woff"),url("zhizn-webfont.ttf") format("truetype"),url("zhizn-webfont.svg") format("svg");font-weight:400;font-style:normal}
.niooollkk p,.niooollkk span{font-family:"ZhiznRegular"!important}
.yujnnnnm{margin-top:10px ; position:relative;}

.hintt {position: absolute;
    top: -54px;
    left: -30px;
    background-color: rgba(0, 0, 0, 0.56);
    color: #FFF;
    padding: 5px 15px;
    width: 570px; 
    font-size: 13px;
    padding-left: 30px;}

.suurqa img{margin-left:-30px;width:600px}
.hiiopzzx strong{font-size:21px}
.ingredient{padding-right:140px}
.yujnnnnm img{margin-left:-30px;width:600px}

.speedbar{position:absolute;top:25px;left:190px}
.miiiklld li{width:120px;float:left;margin-right:20px;margin-top:15px}
.miiiklld li:last-child{margin-right:0}
.header .button{float:right;padding:0 1.25rem;display:block;border-color:#e6e6e6}
.button{border:1px solid #ccc;line-height:35px;display:-moz-inline-stack;display:inline-block;box-sizing:border-box;padding:0 20px;color:#4c4c4c;text-transform:uppercase;border-radius:1.25rem;cursor:pointer;font-weight:600;-webkit-transition:border-color .2s ease,background-color .2s ease;transition:border-color .2s ease,background-color .2s ease;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background:#fff;position:relative;margin-left:7px}
.header .button_green{margin-left:.625rem;border-color:#6c6}
.button_green{border:1px solid #6c6;background:#6c6;color:#fff}
.fararara{border:1px solid #ccc;display:-moz-inline-stack;display:inline-block;box-sizing:border-box;padding:0 1.25rem;color:#4c4c4c;text-transform:uppercase;border-radius:1.25rem;font-size:.75rem;font-weight:600;background:#fff;position:relative;line-height:35px;padding:0 20px!important}
.kjioppkk{background-color:#FFF;border-radius:.25rem;box-shadow:0 .0625rem .25rem rgba(71,44,6,0.2);padding:30px;overflow:hidden;position:relative; margin-right:25px;}
.nnnmjjj{margin-bottom:30px}
.nnnmjjj img{margin-left:-30px;margin-top:-30px;margin-bottom:20px;width:600px}
.huuiiiaz a{border-radius: 1.25rem;
    padding: 6px 20px;
    background-color: #FFF;
    box-shadow: 0 0.0625rem 0.25rem rgba(71,44,6,0.2);
    text-decoration: none;
    margin-right: 5px;
    white-space: nowrap;
    margin-bottom: 10px;
    display: block;
    float: left;}
.huuiiiaz{margin-top:25px;float:left}
.zorria{    float: right;
    margin-top: 10px; 
    margin-bottom: 5px;}
.zorria div{float:left;    color: #867f6f;}
.halerios{font-weight:700;color:#a57dcb;margin-bottom:-5px;display:block;margin-top:25px}
.giiaaa{margin-top:10px}
.ffffffaa a{display:initial}
.gogooaaa{margin-bottom:30px}
.aaddddss{margin-top:25px;padding-top:0}
.hiokakakz{text-align:right;margin-right:4px}
.jiialalza{float:left;margin-right:5px;text-align:right;font-size:21px;line-height:1;font-weight:700}
.zijjjaa{ margin-bottom:20px}
.hhjhjhff{padding-bottom:0}
.ggsssgsa{margin-top:10px}
.dxddsds{padding-top:0}
 
.poaoozz{float:left; margin-bottom:25px;}
.ssazzzz{margin-top:20px}
.ppaoodozz{float:left;width:790px}
.oopppalla{z-index:3333;overflow:visible;margin:0 auto;width:980px}
.zzpppoortr{margin-top:10px;margin-bottom:15px}
.zzpppoortr:hover{opacity:.8}
.jjjoooxoa{float:right;margin-top:12px;text-align:right}
.kmiirra{margin:0 auto;width:980px;}
.tyuuutt{background-image:url("fsdgds.png");background-position:30px -162px;background-repeat:repeat-x;height:94px;  position: absolute;
    top: 0px;    width: 100%;}
.oosurrr{background-image:url("6436.jpg");overflow:hidden}
.ooaairara{overflow:hidden}

.hioza {color: #E07516 !important;}
.hioza:hover {color: #d44141 !important;}    

  .gogogodd {     position: absolute;
    top: -7px;
    right: -40px;
    display: block;
    background: #265361;
    color: #FFF;
    width: 100px;
    font-weight: 700;
    height: 36px;
    text-align: center;
    line-height: 45px;
    font-size: 13px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 99;
    cursor: default; 
  background: #b93f3f;}
  
  .summary li {
    list-style-type: square;
    margin-left: 14px;
}


.aasss:last-child {margin-right: 0px;}

.drakkaxx {	    margin-bottom: 20px;}

.ghtooper { position:relative; margin-bottom: 15px;}

.nmreteet {text-decoration: underline; cursor: pointer}
.nmreteet:hover {    color: #FFF;}


.iiijjeeaaaa {
    width: 143px;
    height: 162px;
    float: left;
    margin: 10px 25px 15px 0;
    overflow: hidden;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0.0625rem 0.25rem rgba(71,44,6,0.2);
    padding: 20px;
    background-color: #FFF;
    text-align: center;
}

.iiijjeeaaaa img {
    width: 183px;
    margin-left: -20px;
    margin-right: -20px;
    height: 125px;
    margin-top: -20px;
}


.iiikkkaaoop {
    color: #d03d26;
    display: block;
    padding-top: 7px;
    bottom: 0;
    padding-bottom: 7px;
    z-index: 999;
    font-weight: 700; 
    height: 39px;
    margin-left: -5px;
    margin-right: -5px;
    overflow: hidden;
}


.iiijjeeaaaa:hover {
    box-shadow: 0 0.0625rem 0.25rem rgba(121,6,0,0.42);
}


.iiijjeeaaaa a {
    text-decoration: none; 
}

.ddrrtwt {    margin-top: 25px;}